<div class="container">
	<div class="row">
		<h2>Comics Find 👇 with {{comicInfo}}</h2>
		<hr>
	</div>
	<div class="row">
		<span class="col-lg-3 col-md-6 col-sm-9 picture">
			<img class="img-thumbnail" src="http://placehold.it/200x200">   
		</span>
		<span class="col-lg-3 col-md-6 col-sm-9">
			<img class="img-thumbnail" src="http://placehold.it/200x200">   
		</span>
		<span class="col-lg-3 col-md-6 col-sm-9">
			<img class="img-thumbnail" src="http://placehold.it/200x200">   
		</span>
		<span class="col-lg-3 col-md-6 col-sm-9">
			<img class="img-thumbnail" src="http://placehold.it/200x200">   
		</span>
		<span class="col-lg-3 col-md-6 col-sm-9">
			<img class="img-thumbnail" src="http://placehold.it/200x200">   
		</span>
		<span class="col-lg-3 col-md-6 col-sm-9">
			<img class="img-thumbnail" src="http://placehold.it/200x200">   
		</span>
		<span class="col-lg-3 col-md-6 col-sm-9">
			<img class="img-thumbnail" src="http://placehold.it/200x200">   
		</span>
		<span class="col-lg-3 col-md-6 col-sm-9">
			<img class="img-thumbnail" src="http://placehold.it/200x200">   
		</span>
	</div>
</div>
